<!DOCTYPE html>
<html>
<head>
	<title>Entry</title>
</head>
<body>
	<form action="/register" method="POST">
		<label>
			Enter nickname:
			<input name="nickname" type="text" placeholder="Nickname">
		</label><br>
		<input type="submit">
	</form>
</body>
</html>
