<!DOCTYPE html>
<html>
<head>
	<title>Entry</title>
</head>
<body>
	<form action="/register" method="POST">
		<label>
			Enter username:
			<input name="username" type="text" placeholder="Username">
		</label><br>
		<input type="submit">
	</form>
</body>
</html>
